---
layout: handbook-page-toc
title: Plan:Portfolio Management Backend Team
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

## Plan:Portfolio Management backend team

The Plan:Portfolio Management backend team works on the backend part of
GitLab's [Portfolio Management category] in the [Plan stage].

For more details about the vision for this area of the product, see the
[Plan stage] page.

[Portfolio Management category]: /handbook/product/categories/#portfolio-management-group
[Plan stage]: /direction/plan/

### Team members

This team is currently shared between Plan:Portfolio Management and
[Plan:Certify].

[Plan:Certify]: /handbook/engineering/development/dev/plan-certify-be/

<%= direct_team(manager_role: 'Backend Engineering Manager, Plan:Portfolio Management & Plan:Certify') %>

### Stable counterparts

<%= stable_counterparts(role_regexp: /[,&] (Plan(?!:)|Plan:Portfolio Management)/, direct_manager_role: 'Backend Engineering Manager, Plan:Portfolio Management & Plan:Certify') %>

### Hiring chart

This chart shows the progress we're making on hiring. Check out our
[jobs page](/jobs/) for current openings.

<%= hiring_chart(department: 'Plan:Portfolio Management BE Team') %>

### Team metrics dashboard 

<%= partial("handbook/engineering/development/dev/plan/shared_portfolio_certify_dashboard") %>

### Application performance dashboard

<%= partial("handbook/engineering/development/dev/plan/portfolio_certify_application_dashboard") %>

## OKRs

### Current (FY21-Q1)

- [Improve Group Productivity](https://gitlab.com/gitlab-com/www-gitlab-com/issues/6515)
  - [Average 11 MRs/Eng/month over the quarter](https://gitlab.com/gitlab-org/plan/issues/74)
  - Maintain MTTM below 14 days
- [Support Incremental ACV](https://gitlab.com/gitlab-com/www-gitlab-com/issues/6574)
  - Deliver two ~"planning priority" items directly tied to revenue, per group
    - [Single Level Epics to Premium](https://gitlab.com/gitlab-org/gitlab/issues/37081)
    - [Weights and progress information in roadmap Epic bars](https://gitlab.com/gitlab-org/gitlab/issues/5164)
    - [Requirements Management MVC](https://gitlab.com/gitlab-org/gitlab/issues/32733)
    - [Private comments on Service Desk issues](https://gitlab.com/gitlab-org/gitlab/issues/2459)
  - Deliver 3 performance or Application Limits issues


## Work

See the [Plan stage page] and the [Plan:Project Management backend team
page].

[Plan stage page]: /handbook/product/categories/plan/
[Plan:Project Management backend team page]: /handbook/engineering/development/dev/plan-project-management-be/

### Capacity Planning

<%= partial("handbook/engineering/development/dev/plan/capacity_planning") %>

#### Weighing bugs

<%= partial("handbook/engineering/development/dev/plan/weighing_bugs") %>

#### Continuous Estimation

<%= partial("handbook/engineering/development/dev/plan/planning_rotation") %>

#### Historical Capacity

<%= partial("handbook/engineering/development/dev/plan/historical_capacity", locals: { chart_ids: [7693825, 7693879] }) %>

### Picking something to work on

The [Plan:Portfolio Management & Certify Build Board] always shows work in the current
release, with [workflow columns] relevant to implementation. Filtering it by
~backend shows issues for backend engineers to work on.

It's OK to not take the top item if you are not confident you can solve
it, but please post in [#s_plan] if that's the case, as this probably
means the issue should be better specified.

[workflow columns]: /handbook/product-development-flow/
[Plan:Portfolio Management & Certify Build Board](https://gitlab.com/groups/gitlab-org/-/boards/1569369?scope=all&utf8=%E2%9C%93&state=opened&label_name[]=devops%3A%3Aplan&not[label_name][]=group%3A%3Aproject%20management)

### Working on unscheduled issues

Everyone at GitLab has the freedom to manage their work as they see fit,
because [we measure results, not hours][results]. Part of this is the
opportunity to work on items that aren't scheduled as part of the
regular monthly release. This is mostly a reiteration of items elsewhere
in the handbook, and it is here to make those explicit:

1. We expect people to be [managers of one][efficiency], and we [use
   GitLab ourselves][collaboration]. If you see something that you think
   is important, you can [request for it to be scheduled], or you can
   [work on a proposal yourself][iteration], as long as you keep your
   other tasks in mind.
2. From time to time, there are events that GitLab team-members can participate
   in, like the [issue bash] and [content hack days]. Anyone is welcome
   to participate in these.
3. If you feel like you want to have some specific time set aside, but
   aren't interested in the topics of an existing event, feel free to
   label issues with "For Scheduling" and copy your manager for visibility.

When you pick something to work on, please:

1. Follow the standard workflow and assign it to yourself.
2. Share it in [#s_plan] - if not even more widely (like in #development
   or #backend).

[collaboration]: /handbook/values/#collaboration
[results]: /handbook/values/#results
[efficiency]: /handbook/values/#efficiency
[iteration]: /handbook/values/#iteration

[request for it to be scheduled]: /handbook/engineering/workflow/#requesting-something-to-be-scheduled
[issue bash]: /community/issue-bash/
[content hack days]: /handbook/marketing/corporate-marketing/content/content-hack-day/

## Useful links

<%= partial("handbook/engineering/development/dev/plan/useful_links", locals: { board: { name: 'Plan:Portfolio Management & Certify Build Board', url: 'https://gitlab.com/groups/gitlab-org/-/boards/1569369?scope=all&utf8=%E2%9C%93&state=opened&label_name[]=devops%3A%3Aplan&not[label_name][]=group%3A%3Aproject%20management' }}) %>
