---
title: GitLab Heroes Contributions
description: Recent contributions to the GitLab community
twitter_image: "/images/opengraph/Heroes/Heroes-contribution.png"
twitter_image_alt: "Graphical GitLab Heroes logo and the text recent contributions"
twitter_site: "gitlab"
twitter_creator: "gitlab"
suppress_header: true
extra_css:
  - heroes-contributions.css
---

.blank-header
  = image_tag "/images/home/icons-pattern-left.svg", class: "image-border image-border-left", alt: "Gitlab hero border pattern left svg"
  = image_tag "/images/home/icons-pattern-right.svg", class: "image-border image-border-right", alt: "Gitlab hero border pattern right svg"
  .header-content
    %h1 GitLab Heroes Contributions
    %p Recent contributions to the GitLab community

.gitlab-content-container.margin-top50
  .content
    .content-section
      - data.heroes_contributions.recent_contributions.each do |contribution, index|
        .press-block
          .logo-and-date
            = image_tag "#{contribution.logo}", class: "contribution-logo-small", alt: "Gitlab Heroes contribution type"
            %p.contribution-type
              = contribution.type
          %a.contribution-link{ href: "#{contribution.link}", target: "_blank" }
            = contribution.title
          %p
            = image_tag "/images/heroes/gitlab-heroes-icon.svg", class: "contribution-logo-small", alt: "Gitlab Heroes logo"
            = contribution.contributor
